{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static '9anime.css' %}?v=1.3">
        <link rel="stylesheet" href="{% static 'style.css' %}?v=1.5">
        <meta charset="UTF-8">
        <title>Anime Search</title>
    </head>

    <body>
        {% include 'navbar.html' %}

        <div style="margin: 5vh 5vw">
            <div class="search-container">
                <form class="anime_search_form" action="{% url 'search' %}" method="get">
                    {% csrf_token %}
                    <input name="searchQuery" class="search-bar" type="text" placeholder="Enter Anime Name..." value="{{ searchQuery }}">
                    <button class="btn-search" type="submit"><img src="{% static 'images/search-icon.png' %}"></button>
                </form>
            </div>
            <div class="film_list">
                <div class="film_list-wrap">
                    {% if not animeSearchResults %}
                        <h3>Anilist API is currently unavailable.</h3>
                    {% endif %}
                    {% for anime in animeSearchResults %}
                        <div class="flw-item">
                            <div class="film-poster" style="border-radius: 2%;">
                                <div class="tick rtl">
                                    <div class="tick-item tick-eps">
                                        {{ anime.episodes }} Episodes
                                    </div>
                                </div>
                                <div class="tick ltr">
                                    <div class="tick-item tick-dub">
                                        {{ anime.score }}/10
                                    </div>
                                </div>
                                <img class="film-poster-img list-img" alt="anime.englishTitle" src="{{ anime.imageURL }}">
                                {% if anime.malID %}
                                    <a href="{% url 'detail' anime.malID %}" class="film-poster-ahref"><b>^_^</b></a>
                                {% else %}
                                    <a class="film-poster-ahref"><b>x_x</b></a>
                                {% endif %}
                            </div>
                            <div class="film-detail">
                                    <h3 class="film-name">
                                        {% if anime.malID %}
                                            <a href="{% url 'detail' anime.malID %}" title="{{ anime.englishTitle }}" target="_blank">{{ anime.englishTitle }}</a>
                                        {% else %}
                                            <a title="{{ anime.englishTitle }}" target="_blank">{{ anime.englishTitle }}</a>
                                        {% endif %}
                                    </h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>