<html>
  <head>
    <style>
      ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li.navbar {
        float: left;
      }

      li.navbar a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #5a2e98;
      }
    </style>
  </head>
  <body>
    <ul class="navbar">
      <li class="navbar"><a href="{% url 'index' %}">Home</a></li>
      <li class="navbar"><a href="{% url "watchlist" %}">Anime List</a></li>
      {% if user.is_authenticated %}
        <li class="navbar" style="float: right; background-color: #5a2e98;"><a>Logged in as {{ user.username }}</a></li>
        <li class="navbar" style="float: right;"><a href="{% url 'logout' %}">Logout</a></li>
      {%else%}
        <li class="navbar" style="float: right;"><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </body>
</html>
