.actions-container{
    height: 20%;
    width: 100%;
    display: flex;
}

.action-form{
    margin-right: auto;
    margin-left: auto;
}

.icon-frame {
    height: 30px;
}

.settings-icon {
    height: 40px;
}

.btn-settings{
    width: 120%;
    height: 55%;
    margin: 2vh 0;
    background: #5a2e98;
    color: white;
    font-size: 1.7vw;
    border-radius: 20px;
    border: none;
}

.btn-export{
    width: 120%;
    height: 55%;
    margin: 2vh 0;
    background: #007bff;
    color: white;
    font-size: 1.7vw;
    border-radius: 20px;
    border: none;
}

.btn-settings:hover, .btn-export:hover {
     cursor: pointer;
     filter: brightness(80%);
}

.btn-contents {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.btn-contents .text {
    margin-right: 5%;   
}