{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static '9anime.css' %}?v=1.3">
        <link rel="stylesheet" href="{% static 'style.css' %}?v=1.6">
        <link rel="stylesheet" href="{% static 'manageFolders_styles.css' %}?v=1.2">
        <meta charset="UTF-8">
        <title>Login</title>
    </head>

    <body>
        {% include 'navbar.html' %}
        
        <h1>Folders</h1>
        <h2>WARNING: When deleting a folder, all anime inside will be removed from your anime list</h2>

        <div class="folder_table" role="region" tabindex="0">
            <table>
                <thead>
                    <tr>
                        <th style="width: 10%;">ID</th>
                        <th>Name</th>
                        <th style="width: 20%;">Save</th>
                        <th style="width: 20%;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <form method="post">
                    {% csrf_token %}
                        <tr>
                            <td>New</td>
                            <td>
                                <input class="folder-input" name="folderName" type="text" value="New Folder" pattern=".*\S+.*" required>
                            </td>
                            <td colspan="2">
                                <input class="btn-action create" type="submit" value="Create" formaction="{% url "createFolder" %}">
                            </td>
                        </tr>
                    </form>
                    {% for folder in folders %}
                            <tr>
                                <td>{{ folder.pk }}</td>
                                <form method="post" action="{% url "editFolder" %}">
                                {% csrf_token %}
                                    <td>
                                        <input class="folder-input" name="folderName" type="text" value="{{ folder.folderName }}" pattern=".*\S+.*" required>
                                        <input name="folderID" type="hidden" value={{ folder.pk }}>
                                    </td>
                                    <td>
                                        <input class="btn-action edit" type="submit" value="Save">
                                    </td>
                                </form>
                                <form method="post" action="{% url "deleteFolder" %}">
                                {% csrf_token %}
                                    <td>
                                        <div class="btn-container">
                                            <button id="btnDelete{{folder.pk}}" class="btn-action delete" type="button" onclick="ShowConfirmation({{folder.pk}});">Delete</button>
                                            <input id="btnConfirm{{folder.pk}}" class="btn-action confirm" type="submit" value="" novalidate>
                                            <button id="btnCancel{{folder.pk}}" class="btn-action cancel" type="button" onclick="HideConfirmation({{folder.pk}});">Cancel</button>
                                            <input name="folderID" type="hidden" value={{ folder.pk }}>
                                        </div>
                                    </td>
                                </form>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>

    <script>
        function ShowConfirmation(btnID) {
            btnDelete = document.getElementById("btnDelete"+btnID);
            btnConfirm = document.getElementById("btnConfirm"+btnID);
            btnCancel = document.getElementById("btnCancel"+btnID);

            btnDelete.style.display = "none";
            btnConfirm.style.display = "inline";
            btnCancel.style.display = "inline";
        }

        function HideConfirmation(btnID) {
            btnDelete = document.getElementById("btnDelete"+btnID);
            btnConfirm = document.getElementById("btnConfirm"+btnID);
            btnCancel = document.getElementById("btnCancel"+btnID);

            btnDelete.style.display = "inline";
            btnConfirm.style.display = "none";
            btnCancel.style.display = "none";
        }
    </script>
</html>